.center{
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 40px;
    margin-right: 10px;
}

.button1 {
    margin-top: 40px;
    margin-right: 10px;
    background-color: rgb(22, 73, 88);
    color: rgb(255, 255, 255);
}
.button2 {
    margin-top: 40px;
    margin-right: 10px;
    background-color: rgb(77, 17, 17);
    color: rgb(255, 255, 255);
}

