<nav>
  <ul>
    <li><button mat-button class="margeTop"><a class="fontStyle" href="/api/servicos" mat-menu-item>Serviços</a></button></li>
  </ul>
  <ul>
    <li><button mat-button><a class="fontStyle" href="/api/centro-de-custos" mat-menu-item>Centro de Custos</a></button></li>
  </ul>
  <ul>
    <li><button mat-button><a class="fontStyle" href="/api/home-avaliar" mat-menu-item>Avaliação</a></button></li>
  </ul>
  <ul>
    <li><button mat-button><a class="fontStyle" href="/api/financeiro" mat-menu-item>Financeiro</a></button></li>
  </ul>  
</nav>