<nav>
  <ul *ngIf="authorities?.includes('1')">
    <li><button mat-button class="margeTop"><a class="fontStyle" href="/api/servicos" mat-menu-item>Serviços</a></button></li>
  </ul>
  <ul *ngIf="authorities?.includes('1')">
    <li><button mat-button><a class="fontStyle" href="/api/centro-de-custos" mat-menu-item>Centro de Custos</a></button></li>
  </ul>
  <ul *ngIf="authorities?.includes('1')">
    <li><button mat-button><a class="fontStyle" href="/api/home-avaliar" mat-menu-item>Avaliação</a></button></li>
  </ul>
  <ul *ngIf="authorities?.includes('1')">
    <li><button mat-button><a class="fontStyle" href="/api/financeiro" mat-menu-item>Financeiro</a></button></li>
  </ul>
  <ul *ngIf="authorities?.includes('2')">
    <li><button mat-button><a class="fontStyle" href="/api/producao" mat-menu-item>Consultar Produção</a></button></li>
  </ul>  
  <ul *ngIf="authorities?.includes('2')">
    <li><button mat-button><a class="fontStyle" href="/api/avaliacoes" mat-menu-item>Consultar Avaliações</a></button></li>
  </ul>  
</nav>