.center{
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 20px;
}

.inputs {
    width: 250px;
    padding-left: 5px;
    padding-right: 5px;
}

.fontStyle{
    font-weight: bolder;
    font-style: italic;
}