<h1 class="center">Cadastro de Usuário</h1>
<form class="example-form">

    <div class="center">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Digite o login" name="novoUsuario.login" [(ngModel)]="novoUsuario.login" />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome Completo</mat-label>
            <input matInput placeholder="Digite o nome" name="novoUsuario.nome" [(ngModel)]="novoUsuario.nome" />
        </mat-form-field>
    </div>

    <div class="center">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput [matDatepicker]="dataNascimento" name="novoUsuario.dataNascimento" [(ngModel)]="novoUsuario.dataNascimento" />
            <mat-datepicker-toggle matSuffix [for]="dataNascimento"></mat-datepicker-toggle>
            <mat-datepicker #dataNascimento startView="multi-year"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="Digite o seu CPF" name="novoUsuario.cpf" [(ngModel)]="novoUsuario.cpf" />
        </mat-form-field>
    </div>

    <div class="center">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Endereço</mat-label>
            <input matInput placeholder="Digite o seu Endereço Residencial" name="novoUsuario.enderecoResidencial" [(ngModel)]="novoUsuario.enderecoResidencial" />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Digite o seu E-mail" name="novoUsuario.email" [(ngModel)]="novoUsuario.email" />
        </mat-form-field>
    </div>
    
    <div class="center">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Contratante</mat-label>
            <input matInput placeholder="Digite o Contratante ou Digite 'Autônomo'" name="novoUsuario.contratante" [(ngModel)]="novoUsuario.contratante" />
        </mat-form-field> 

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Data de Admissão</mat-label>
            <input matInput [matDatepicker]="dataAdmissao" name="novoUsuario.dataAdmissao" [(ngModel)]="novoUsuario.dataAdmissao" />
            <mat-datepicker-toggle matSuffix [for]="dataAdmissao"></mat-datepicker-toggle>
            <mat-datepicker #dataAdmissao></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="center">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Cargo</mat-label>
            <input matInput placeholder="Digite seu cargo" name="novoUsuario.cargo" [(ngModel)]="novoUsuario.cargo" />
        </mat-form-field> 

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Remuneração</mat-label>
            <input  matInput placeholder="Digite a sua remuneração média" name="novoUsuario.remuneracao" currencyMask [(ngModel)]="novoUsuario.remuneracao" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
        </mat-form-field> 
    </div>

    <div class="center">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Digite a senha" name="novoUsuario.senha" [(ngModel)]="novoUsuario.senha" />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Confirme sua senha</mat-label>
            <input type="password" matInput placeholder="Confirme a sua senha" name="confirmarSenha" [(ngModel)]="confirmarSenha" />
        </mat-form-field>
    </div>

    <div class="center">
        <button class="button" mat-flat-button color="primary" padding="10px" (click)="salvar()">Cadastrar</button>
        <button mat-flat-button color="warn" padding="10px" (click)="cancelar()">Cancelar</button>
    </div>
    <br><br><br><br>
</form>