<h1 class="center">Cadastro de Usuário</h1>
<form class="example-form">

    <div class="center">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Id</mat-label>
            <input matInput placeholder="Digite o código" name="id" [(ngModel)]="id" />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Digite o login" name="login" [(ngModel)]="login" />
        </mat-form-field>
    </div>

    <div  class="center">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Digite a senha" name="senha" [(ngModel)]="senha" />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Confirme sua senha</mat-label>
            <input matInput placeholder="Digite a senha" name="senha" [(ngModel)]="senha" />
        </mat-form-field>
    </div>

    <div class="center">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Digite o nome" name="nome" [(ngModel)]="nome" />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput placeholder="Digite a sua data de nascimento" name="dataNascimento" [(ngModel)]="dataNascimento" />
        </mat-form-field>
    </div>

    <div class="center">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="Digite o seu CPF" name="cpf" [(ngModel)]="cpf" />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Endereço</mat-label>
            <input matInput placeholder="Digite o seu Endereço Residencial" name="enderecoResidencial" [(ngModel)]="enderecoResidencial" />
        </mat-form-field>
    </div>

    <div class="center">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Digite o seu E-mail" name="email" [(ngModel)]="email" />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Contratante</mat-label>
            <input matInput placeholder="Digite o Contratante ou Digite 'Autônomo'" name="email" [(ngModel)]="contratante" />
        </mat-form-field> 
    </div>

    <div class="center">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Data de admissão</mat-label>
            <input matInput placeholder="Digite a data de admissão ou para autônomo digite a data atual" name="dataAdmissao" [(ngModel)]="dataAdmissao" />
        </mat-form-field> 

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Cargo</mat-label>
            <input matInput placeholder="Digite seu cargo" name="cargo" [(ngModel)]="cargo" />
        </mat-form-field> 
    </div>

    <div class="center">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Remuneração</mat-label>
            <input matInput placeholder="Digite a sua remuneração média" name="remuneracao" [(ngModel)]="remuneracao" />
        </mat-form-field> 
    </div>

    <div class="center">
        <button class="button" mat-flat-button color="primary" padding="10px" (click)="salvar()">Salvar</button>
        <button mat-flat-button color="warn" padding="10px" (click)="cancelar()">Cancelar</button>
    </div>
    <br><br><br><br>
</form>