<h1 class="center">Cadastro de Serviço</h1>


    <div class="center">
        <mat-form-field class="example-full-width inputs" appearance="fill">
            <mat-label>Tipo de Serviço</mat-label> <!--PEGAR DA LISTA-->
            <mat-select [(value)]="servicoSelecionado">
            <mat-option *ngFor="let tipos of tiposServicos" [value]="tipos.nomeServico">
                {{tipos}}
            </mat-option>
              </mat-select>
            <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
<form [formGroup]="cadastroServicoForm" (ngSubmit)="salvar()">
    <div class="center">

        <mat-form-field class="example-full-width inputs" appearance="fill">
            <mat-label>Valor Unitário</mat-label> <!--PEGAR DA LISTA-->
            <input matInput placeholder="Digite o nome" name="valorUnitario" formControlName="valorUnitario" 
            currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: 'false' }" required/>
            <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>

    <div class="center">
        <mat-form-field class="example-full-width inputs" appearance="fill">
            <mat-label>Dimensões</mat-label>
            <input matInput placeholder="Dimensões do serviço" name="dimensao" formControlName ="dimensoes" required/>
            <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>

    <div class="center">
        <mat-form-field class="example-full-width inputs" appearance="fill">
            <mat-label>Centro de Custo</mat-label> <!--PEGAR DA LISTA-->
            <input matInput placeholder="centroDeCusto" name="centroDeCusto" formControlName="centroDeCusto" required/>
            <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width inputs" appearance="fill">
            <mat-label>Local de Execução</mat-label>
            <input matInput placeholder="Digite o local da execução" name="localExecucao" formControlName="localExecucao" required/>
            <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    <div class="center">
        <mat-form-field class="example-full-width inputs" appearance="fill">
            <mat-label>Executor do serviço</mat-label>
            <input matInput placeholder="Nome do Funcionário" name="executor" formControlName="executor" required/>
            <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width inputs" appearance="fill">
            <mat-label>Conferente</mat-label> <!--PEGAR DA LISTA-->
            <input matInput placeholder="Nome do Conferente" name="conferente" formControlName="conferente" required/>
            <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field> 

    <div class="center">
        <mat-form-field class="example-full-width inputs" appearance="fill">
            <mat-label>Data de Início</mat-label>
            <input matInput [matDatepicker]="dataInicio" name="dataInicio" formControlName="dataInicio" required/>
            <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
            <mat-datepicker #dataInicio></mat-datepicker>
            <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width inputs" appearance="fill">
            <mat-label>Previsão de Término do Serviço</mat-label>
            <input matInput [matDatepicker]="dataPrevista" name="dataPrevista" formControlName="dataPrevista" required/>
            <mat-datepicker-toggle matSuffix [for]="dataPrevista"></mat-datepicker-toggle>
            <mat-datepicker #dataPrevista></mat-datepicker>
            <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    <div class="center">
        <mat-form-field class="example-full-width inputs" appearance="fill">
            <mat-label>Valor Total do Serviço</mat-label>
            <input  matInput name="valorTotal" formControlName="valorTotal"
                currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: 'false' }" required/>
                <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field> 
    </div>

    <div class="center">
        <button class="button" mat-flat-button color="primary">Salvar novo Serviço</button>
    </div>
<br><br><br><br>