.center{
    display: flex;
    justify-content: center; 
    margin: 0px 0px 0px 0px;
}

.esqueciSenha{     
    position: relative;
    right: 32px;
    bottom: 50px;  
}

.tittle{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-style: italic;
    color: rgb(56, 48, 33);
    margin-top: 40px;
    margin-bottom: 40px;
}

.olho{      
    display: flex;
    justify-content: center; 
    bottom: 65px;
    left: 80px; 
}

.button { 
    display: flex;
    justify-content: center; 
    margin-bottom: 5px;
}

.fontStyle{
    font-weight: bolder;
    font-style: italic;
    color: rgb(56, 48, 33);
}
