<!-- <form [formGroup]="loginForm" (ngSubmit)="logar()">
    <br><br><br><br><br>
    <h1 class="center">Login de Usuário</h1>
    <div class="center">
        <mat-form-field appearance="fill">
            <mat-label>Digite seu Login</mat-label>
            <input matInput placeholder="Nome de usuario" required>
        </mat-form-field>
    </div>
    <div class="center">
        <mat-form-field appearance="fill">
            <mat-label>Digite sua senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" required placeholder="Digite suaSenha">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="center">
        <button mat-flat-button color="primary" (click)="logar()">Entrar</button>
    </div>
    <div class="center">
        <button class="button" mat-flat-button color="warn" (click)="esqueciSenha()">Esqueci minha senha</button>
    </div>
    <div class="center">
        <button class="button" mat-flat-button color="primary" (click)="cadastrar()">Cadastrar novo usuário</button>
    </div>

</form> -->

<form [formGroup]="loginForm" (ngSubmit)="logar()">

    <mat-form-field appearance="fill">
      <mat-label>Digite seu login</mat-label>
      <input  formControlName="login" matInput placeholder="pat@example.com" required>    
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Digite sua senha</mat-label>
      <input  formControlName="senha" matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  
    <button mat-button color="primary">Login</button>
  
  </form>