<h1 class="center">Avaliar Serviços</h1>
<div class="center" *ngIf="tabela==1" >
    <p>Serviços aguardando avaliação</p>
</div>
<div class="center" *ngIf="tabela==1">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
        <ng-container matColumnDef="idServico">
            <th mat-header-cell *matHeaderCellDef> Serviço </th>
            <td mat-cell *matCellDef="let element"> {{element.idServico}} </td>
        </ng-container>

        <ng-container matColumnDef="tipoServico">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoServico}} </td>
        </ng-container>

        <ng-container matColumnDef="valorUnitario">
            <th mat-header-cell *matHeaderCellDef> Valor Unitário </th>
            <td mat-cell *matCellDef="let element"> {{element.valorUnitario | currency: 'R$'}} </td>
        </ng-container>

        <ng-container matColumnDef="dimensao">
            <th mat-header-cell *matHeaderCellDef> Dimensões </th>
            <td mat-cell *matCellDef="let element"> {{element.dimensao}} </td>
        </ng-container>

        <ng-container matColumnDef="unidadeMedida">
            <th mat-header-cell *matHeaderCellDef> Und. </th>
            <td mat-cell *matCellDef="let element"> {{element.unidadeMedida}} </td>
        </ng-container>

        <ng-container matColumnDef="centroDeCusto">
            <th mat-header-cell *matHeaderCellDef> Centro de Custo </th>
            <td mat-cell *matCellDef="let element"> {{element.centroDeCusto}} </td>
        </ng-container>

        <ng-container matColumnDef="localExecucao">
            <th mat-header-cell *matHeaderCellDef> Local de Execução </th>
            <td mat-cell *matCellDef="let element"> {{element.localExecucao}} </td>
        </ng-container>

        <ng-container matColumnDef="executor">
            <th mat-header-cell *matHeaderCellDef> Funcionário </th>
            <td mat-cell *matCellDef="let element"> {{element.executor}} </td>
        </ng-container>

        <ng-container matColumnDef="conferente">
            <th mat-header-cell *matHeaderCellDef> Conferente </th>
            <td mat-cell *matCellDef="let element"> {{element.conferente}} </td>
        </ng-container>

        <ng-container matColumnDef="dataInicio">
            <th mat-header-cell *matHeaderCellDef> Data de Início </th>
            <td mat-cell *matCellDef="let element"> {{element.dataInicio | date : 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="previsaoTermino">
            <th mat-header-cell *matHeaderCellDef> Previsão de Término </th>
            <td mat-cell *matCellDef="let element"> {{element.previsaoTermino| date : 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="valorTotal">
            <th mat-header-cell *matHeaderCellDef> Valor Total </th>
            <td mat-cell *matCellDef="let element"> {{element.valorTotal | currency: 'R$'}} </td>
        </ng-container>

        <ng-container matColumnDef="avaliar">
            <th mat-header-cell *matHeaderCellDef> Avaliar </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-flat-button color="primary" (click)="avaliar(element.idServico)">Avaliar</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSemAval"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSemAval;"></tr>
        
    </table>
</div>
<ng-container *ngIf="servicoSelecionado.tipoServico === 'Alvenaria'">
    <h1 class="center">Avaliação de Serviços de Alvenaria</h1>
    <form [formGroup]="avaliarAlvenariaForm" (ngSubmit)="avaliarAlvenaria()">
    
        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Serviço</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.tipoServico" required disabled/>
            </mat-form-field>
    
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Dimensões</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.dimensao" required disabled/>
            </mat-form-field>

            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Unidade de Medida</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.unidadeMedida" required disabled/>
            </mat-form-field>
        </div>
    
        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Funcionário</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.executor" required disabled/>
            </mat-form-field>
    
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Conferente</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.conferente" required disabled/>
            </mat-form-field>

            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Valor total do Serviço</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.valorTotal  | currency: 'R$'" required disabled/>
            </mat-form-field>
        </div>
    
        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Prumo</mat-label>
                <mat-select formControlName="prumo" name="prumo">
                    <mat-option class="inputs" [value]="true">
                        {{'Aprovado'}}
                    </mat-option>
                    <mat-option class="inputs" [value]="false">
                        {{'Reprovado'}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width inputs" appearance="fill">    
                <mat-label>Nível</mat-label>
                <mat-select formControlName="nivel" name="nivel">
                    <mat-option class="inputs" [value]="true">
                        {{'Aprovado'}}
                    </mat-option>
                    <mat-option class="inputs" [value]="false">
                        {{'Reprovado'}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width inputs" appearance="fill">    
                <mat-label>Alinhamento</mat-label>
                <mat-select formControlName="alinhamento" name="alinhamento">
                    <mat-option class="inputs" [value]="true">
                        {{'Aprovado'}}
                    </mat-option>
                    <mat-option class="inputs" [value]="false">
                        {{'Reprovado'}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
       
        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">    
                <mat-label>Integridade</mat-label>
                <mat-select formControlName="integridade" name="integridade">
                    <mat-option class="inputs" [value]="true">
                        {{'Aprovado'}}
                    </mat-option>
                    <mat-option class="inputs" [value]="false">
                        {{'Reprovado'}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
    
            <mat-form-field class="example-full-width inputs" appearance="fill">    
                <mat-label>Limpeza</mat-label>
                <mat-select formControlName="limpeza" name="limpeza">
                    <mat-option class="inputs" [value]="true">
                        {{'Aprovado'}}
                    </mat-option>
                    <mat-option class="inputs" [value]="false">
                        {{'Reprovado'}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">    
                <mat-label>Resultado</mat-label>
                <mat-select formControlName="resultado" name="resultado">
                    <mat-option class="inputs" [value]="true">
                        {{"Aprovado"}}
                    </mat-option>
                    <mat-option class="inputs" [value]="false">
                        {{"Reprovado"}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
    
        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Observações</mat-label>
                <input class="inputs" matInput placeholder="Observações" name="obs" formControlName="obs"/>
            </mat-form-field>
        </div>
    
        <div class="center">
            <button class="button" mat-flat-button color="primary">Avaliar</button>
        </div>
        <div class="center">
            <button class="button" mat-flat-button color="warn" padding="10px" (click)="cancelar()">Cancelar</button>
        </div>      
    </form>
</ng-container>

<ng-container *ngIf="servicoSelecionado.tipoServico === 'Ferragem'">
    <h1 class="center">Avaliação de Serviços de Ferragem</h1>
    <form [formGroup]="avaliarFerragemForm" (ngSubmit)="avaliarFerragem()">
    
        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Serviço</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.tipoServico" required disabled/>
            </mat-form-field>
    
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Quantidade</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.dimensao" required disabled/>
            </mat-form-field>

            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Unidade de Medida</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.unidadeMedida" required disabled/>
            </mat-form-field>
        </div>
    
        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Funcionário</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.executor" required disabled/>
            </mat-form-field>
    
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Conferente</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.conferente" required disabled/>
            </mat-form-field>

            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Valor total do Serviço</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.valorTotal  | currency: 'R$'" required disabled/>
            </mat-form-field>
        </div>
    
        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Distribuição</mat-label>
                <mat-select formControlName="distribuicao" name="distribuicao">
                    <mat-option class="inputs" [value]="true">
                        {{'Aprovado'}}
                    </mat-option>
                    <mat-option class="inputs" [value]="false">
                        {{'Reprovado'}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width inputs" appearance="fill">    
                <mat-label>Espaçamento</mat-label>
                <mat-select formControlName="espacamento" name="espacamento">
                    <mat-option class="inputs" [value]="true">
                        {{'Aprovado'}}
                    </mat-option>
                    <mat-option class="inputs" [value]="false">
                        {{'Reprovado'}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">    
                <mat-label>Resultado</mat-label>
                <mat-select formControlName="resultado" name="resultado">
                    <mat-option class="inputs" [value]="true">
                        {{"Aprovado"}}
                    </mat-option>
                    <mat-option class="inputs" [value]="false">
                        {{"Reprovado"}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
    
        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Observações</mat-label>
                <input class="inputs" matInput placeholder="Observações" name="obs" formControlName="obs"/>
            </mat-form-field>
        </div>
    
        <div class="center">
            <button class="button" mat-flat-button color="primary">Avaliar</button>
        </div>
        <div class="center">
            <button class="button" mat-flat-button color="warn" padding="10px" (click)="cancelar()">Cancelar</button>
        </div>      
    </form>
</ng-container>

<ng-container *ngIf="servicoSelecionado.tipoServico === 'Carpintaria'">
    <h1 class="center">Avaliação de Serviços de Carpintaria</h1>
    <form [formGroup]="avaliarCarpintariaForm" (ngSubmit)="avaliarCarpintaria()">
    
        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Serviço</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.tipoServico" required disabled/>
            </mat-form-field>
    
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Quantidade</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.dimensao" required disabled/>
            </mat-form-field>

            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Unidade de Medida</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.unidadeMedida" required disabled/>
            </mat-form-field>
        </div>
    
        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Funcionário</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.executor" required disabled/>
            </mat-form-field>
    
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Conferente</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.conferente" required disabled/>
            </mat-form-field>

            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Valor total do Serviço</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.valorTotal  | currency: 'R$'" required disabled/>
            </mat-form-field>
        </div>

        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Tipo de Carpintaria</mat-label>
                <mat-select formControlName="tipoCarpintaria" name="tipoCarpintaria">
                    <mat-option class="inputs" [value]="'Vertical'">
                        {{'Vertical'}}
                    </mat-option>
                    <mat-option class="inputs" [value]="'Horizontal'">
                        {{'Horizontal'}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Nível ou Prumo</mat-label>
                <mat-select formControlName="nivelOuPrumo" name="nivelOuPrumo">
                    <mat-option class="inputs" [value]="true">
                        {{'Aprovado'}}
                    </mat-option>
                    <mat-option class="inputs" [value]="false">
                        {{'Reprovado'}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width inputs" appearance="fill">    
                <mat-label>Estanqueidade</mat-label>
                <mat-select formControlName="estanqueidade" name="estanqueidade">
                    <mat-option class="inputs" [value]="true">
                        {{'Aprovado'}}
                    </mat-option>
                    <mat-option class="inputs" [value]="false">
                        {{'Reprovado'}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">    
                <mat-label>Resultado</mat-label>
                <mat-select formControlName="resultado" name="resultado">
                    <mat-option class="inputs" [value]="true">
                        {{"Aprovado"}}
                    </mat-option>
                    <mat-option class="inputs" [value]="false">
                        {{"Reprovado"}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
    
        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Observações</mat-label>
                <input class="inputs" matInput placeholder="Observações" name="obs" formControlName="obs"/>
            </mat-form-field>
        </div>
    
        <div class="center">
            <button class="button" mat-flat-button color="primary">Avaliar</button>
        </div>
        <div class="center">
            <button class="button" mat-flat-button color="warn" padding="10px" (click)="cancelar()">Cancelar</button>
        </div>      
    </form>
</ng-container>

<ng-container *ngIf="servicoSelecionado.tipoServico === 'Acabamento'">
    <h1 class="center">Avaliação de Serviços de Acabamento</h1>
    <form [formGroup]="avaliarAcabamentoForm" (ngSubmit)="avaliarAcabamento()">
    
        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Serviço</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.tipoServico" required disabled/>
            </mat-form-field>
    
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Quantidade</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.dimensao" required disabled/>
            </mat-form-field>

            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Unidade de Medida</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.unidadeMedida" required disabled/>
            </mat-form-field>
        </div>
    
        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Funcionário</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.executor" required disabled/>
            </mat-form-field>
    
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Conferente</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.conferente" required disabled/>
            </mat-form-field>

            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Valor total do Serviço</mat-label>
                <input class="inputs" matInput [value]="servicoSelecionado.valorTotal  | currency: 'R$'" required disabled/>
            </mat-form-field>
        </div>

        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Reguamento</mat-label>
                <mat-select formControlName="reguamento" name="reguamento">
                    <mat-option class="inputs" [value]="true">
                        {{'Aprovado'}}
                    </mat-option>
                    <mat-option class="inputs" [value]="false">
                        {{'Reprovado'}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width inputs" appearance="fill">    
                <mat-label>Alisamento</mat-label>
                <mat-select formControlName="alisamento" name="alisamento">
                    <mat-option class="inputs" [value]="true">
                        {{'Aprovado'}}
                    </mat-option>
                    <mat-option class="inputs" [value]="false">
                        {{'Reprovado'}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">    
                <mat-label>Resultado</mat-label>
                <mat-select formControlName="resultado" name="resultado">
                    <mat-option class="inputs" [value]="true">
                        {{"Aprovado"}}
                    </mat-option>
                    <mat-option class="inputs" [value]="false">
                        {{"Reprovado"}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
    
        <div class="center">
            <mat-form-field class="example-full-width inputs" appearance="fill">
                <mat-label>Observações</mat-label>
                <input class="inputs" matInput placeholder="Observações" name="obs" formControlName="obs"/>
            </mat-form-field>
        </div>
    
        <div class="center">
            <button class="button" mat-flat-button color="primary">Avaliar</button>
        </div>
        <div class="center">
            <button class="button" mat-flat-button color="warn" padding="10px" (click)="cancelar()">Cancelar</button>
        </div>      
    </form>
</ng-container>