@import "~bootstrap/dist/css/bootstrap.css";

.example-spacer {
    flex: 1 1 auto;
  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .example-right-align {
    text-align: right;
  }

  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }

  input.example-right-align {
    -moz-appearance: textfield;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
/* background-image: url("src\assets\background.jpg"); */
color: #00008B; 
;}

.center{
    display: flex;
    justify-content: center;
}

.center2{
  display: flex;
  justify-content: right;
}

.title{
  display: flex;
  justify-content: center;    
  padding-top: 15px;
  padding-bottom: 30px;
}

.button { 
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.buttonBlue {
  background-color: rgb(25, 107, 133) !important;
  color: white !important;
}

.buttonRed { 
  background-color: rgb(207, 81, 81) !important;
  color: white !important;
}

.buttonYellow {
  background-color: rgb(245, 190, 71) !important;
}

.buttonGreen {
  background-color: rgb(2, 131, 9) !important;
  color: rgb(255, 255, 255) !important;
}

.inputs {
  width: 250px;
  padding-left: 5px;
  padding-right: 5px;
}

mat-label {
  font-size: small !important;
}

mat-option {
  font-size: small !important;
}

.mat-mdc-select-value {
  font-size: small !important;
}

.label-select {
  padding-left: 10px;
  padding-bottom: 5px;
}