<div>
  <mat-toolbar class="mat-toolbar custom-navbar">
    <div>
      <button mat-icon-button (click)="home()">
        <mat-icon>home</mat-icon>
      </button>
        <p class="title">Project Manager</p>
    </div>

    <div *ngIf="opcoesLogin; else opcoesGerais">
      <a href="/api/login">Entrar</a>
      |
      <a href="/api/usuario">Cadastrar-se</a>
    </div>
    <ng-template #opcoesGerais>
      <div>
        <button class="buttons-right" mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
        <button class="buttons-right" mat-icon-button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </ng-template>
  </mat-toolbar>
</div>