table {
    width: 100%;
    margin-top: 40px;
}

.center{
  display: flex;
  justify-content: center;
}

.button {
    display: flex;
    justify-content: center;    
}

.inputs {
    width: 250px;
}

.mat-button.mat-gray {
    color: gray;
 }
 
 .mat-raised-button.mat-gray, .mat-flat-button.mat-gray{
    background-color: gray;
    color: white;
 }

 .mat-button.mat-brown {
    color: brown;
 }
 
 .mat-raised-button.mat-brown, .mat-flat-button.mat-brown{
    background-color: brown;
    color: white;
 }

 .tittle{
    display: flex;
    justify-content: center;    
    color: rgb(56, 48, 33);
    margin-top: 60px;
    margin-bottom: 60px;
}

.button1{
    background-color: rgb(22, 73, 88);
    color: rgb(255, 255, 255);
    margin-right: 5px;
 }

 .button2{
    background-color: rgb(77, 17, 17);
    color: rgb(255, 255, 255);
    margin-right: 5px;
 }

 .button3{
    background-color: rgb(21, 77, 17);
    color: rgb(255, 255, 255);
    margin-right: 5px;
 }

 .button4{
   background-color: rgb(161, 161, 161);
   color: rgb(255, 255, 255);
   margin-top: 5px;
}