<mat-toolbar class="general">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
      <mat-menu #menu="matMenu">
        <a href="/api/usuario" mat-menu-item>Cadastro de Usuário</a>
        <a href="/api/cliente" mat-menu-item>Cadastro de Serviços</a>
        <a href="/api/login" mat-menu-item>Login</a>
      </mat-menu>
    </button>
    <span>&nbsp; Projeto Final</span>
    &nbsp; 
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>

  <router-outlet></router-outlet>