<h1 class="center">Avaliação de Serviços de Ferragem</h1>
<form [formGroup]="avaliarFerragemForm">

    <div class="center">
        <mat-form-field class="inputs" appearance="fill">
            <mat-label>Serviço</mat-label>
            <input matInput [value]="servicoSelecionado.tipoServico" required disabled/>
        </mat-form-field>

        <mat-form-field class="inputs" appearance="fill">
            <mat-label>Quantidade</mat-label>
            <input matInput [value]="servicoSelecionado.dimensao" required disabled/>
        </mat-form-field>

        <mat-form-field class="inputs" appearance="fill">
            <mat-label>Unidade de Medida</mat-label>
            <input  matInput [value]="servicoSelecionado.unidadeMedida" required disabled/>
        </mat-form-field>
    </div>

    <div class="center">
        <mat-form-field class="inputs" appearance="fill">
            <mat-label>Funcionário</mat-label>
            <input matInput [value]="servicoSelecionado.executor" required disabled/>
        </mat-form-field>

        <mat-form-field class="inputs" appearance="fill">
            <mat-label>Conferente</mat-label>
            <input matInput [value]="servicoSelecionado.conferente" required disabled/>
        </mat-form-field>

        <mat-form-field class="inputs" appearance="fill">
            <mat-label>Valor total do Serviço</mat-label>
            <input matInput [value]="servicoSelecionado.valorTotal  | currency: 'R$'" required disabled/>
        </mat-form-field>
    </div>

    <div class="center">
        <mat-form-field class="inputs" appearance="fill">
            <mat-label>Distribuição</mat-label>
            <mat-select formControlName="distribuicao" name="distribuicao">
                <mat-option [value]="true">
                    {{'Aprovado'}}
                </mat-option>
                <mat-option [value]="false">
                    {{'Reprovado'}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="inputs" appearance="fill">    
            <mat-label>Espaçamento</mat-label>
            <mat-select formControlName="espacamento" name="espacamento">
                <mat-option [value]="true">
                    {{'Aprovado'}}
                </mat-option>
                <mat-option [value]="false">
                    {{'Reprovado'}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>

    <div class="center">
        <mat-form-field class="obs" appearance="fill">
            <mat-label>Observações</mat-label>
            <textarea matInput placeholder="Observações" name="obs" formControlName="obs"></textarea>
        </mat-form-field>
    </div>

    <div class="center">
        <mat-form-field class="inputs" appearance="fill">    
            <mat-label>Resultado</mat-label>
            <mat-select formControlName="resultado" name="resultado">
                <mat-option [value]="true">
                    {{"Aprovado"}}
                </mat-option>
                <mat-option [value]="false">
                    {{"Reprovado"}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="erroCampoVazio.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>

    <div class="center">
        <button class="button" mat-flat-button color="primary" (click)="avaliarFerragem()">Avaliar</button>
    </div>
</form>