<h1 class="center">Bem vindo!</h1>
<div class="center">
    <button class="button" mat-flat-button color="primary" padding="10px" (click)="cadastrarNovoServico()">Cadastrar novo Serviço</button>
    <button class="button" mat-flat-button color="primary" padding="10px" (click)="listarServicos()">Listar Serviços</button>
    <button class="button" mat-flat-button color="primary" padding="10px">Avaliar Serviço</button>
</div>  
<div class="center">
    <button class="button" mat-flat-button color="warn" padding="10px" (click)="cadastrarCentros()">Cadastrar Centro de Custo</button>
    <button class="button" mat-flat-button color="warn" padding="10px">Listar Centro de Custo</button>
</div>