/*.center{
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 40px;
    margin-right: 10px;
}

.mat-button.mat-brown {
    color: brown;
 }
 
 .mat-raised-button.mat-brown, .mat-flat-button.mat-brown{
    background-color: brown;
    color: white;
 }*/